/*
	category: CSS
	name: Image and Text
	toolTip: Image and Text
*/

/**
<div class="container">
	<p class="photo"><a href="#"><img src="./img/book_mdn_xhtmlcss_s.jpg" alt="" /></a></p>
	<h3>header Level3</h3>
	<p>text text text text text text text</p>
	<ul>
		<li>text text text text text text text text</li>
		<li>text text text text text text text text</li>
		<li>text text text text text text text text</li>
	</ul>
</div>
*/
.container {
	_zoom: 1;
	overflow: hidden;
	margin-bottom: 20px;
}

.container .photo {
	float: left;
	margin-right: 10px;
}

.container h3 {
	padding: 6px 10px;
	background: #fc0;
}

.container ul {
	margin: 0px 0px 15px;
	padding: 0px;
}

.container ul li {
	list-style: none;
	margin: 0px 0px 5px;
	padding-left: 18px;
}

.container ul,
.container h3 {
	_zoom: 1;
	overflow: hidden;
}
